/* .bg-transparent	background-color: transparent;	
.bg-current	background-color: currentColor;	
.bg-black	background-color: #000;	
.bg-white	background-color: #fff;	
.bg-gray-100	background-color: #f7fafc;	
.bg-gray-200	background-color: #edf2f7;	
.bg-gray-300	background-color: #e2e8f0;	
.bg-gray-400	background-color: #cbd5e0 lit;	
.bg-gray-500	background-color: #a0aec0;	
.bg-gray-600	background-color: #718096;	
.bg-gray-700	background-color: #4a5568;	
.bg-gray-800	background-color: #2d3748; */

.dark {
  
  --color-bg-secondary: #2d3748;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #cbd5e0;
  --color-text-accent: #81e6d9;
  --color-text-icon: #718096;
  --color-text-hover: #f7fafc;

  animation-name: animate-dark;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.light {
  --color-bg-secondary: #ffffff;
  --color-text-primary: #2d3748;
  --color-text-secondary: #718096;
  --color-text-accent: #2b6cb0;
  --color-text-icon: #a0aec0;
  --color-text-hover: #2d3748;

  animation-name: animate-light;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes animate-light {
  0% {
    background-color: #2d3748;
  }
  100.0% {
    background-color: #fff;
  }
}

@keyframes animate-dark {
  0% {
    background-color: #fff;
  }
  100.0% {
    background-color: #2d3748;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
